<!DOCTYPE>


<html ng-app = 'homies'>
<head>
<script src='http://code.jquery.com/jquery-1.10.2.js' type='text/javascript'></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


<script src='http://code.angularjs.org/1.1.5/angular.js' type='text/javascript'></script>
<script src='app.js' type='text/javascript'></script>
<script src='homieCtrl.js' type='text/javascript'></script>



<link rel="stylesheet" type="text/css" href="style.css">
<title>Facebook Lesson 18</title>
</head>

<body ng-controller = 'homieCtrl'>


<h1>The <strong>Facebook</strong> Friend Machine</h1>

<div class="friends">


<form class="form-inline searchForm" role="form">
  <div class="form-group">

  <!-- <input class="form-control" placeholder="Search Anything About Your homies" ng-model = "searchTerm">

  <input class="form-control" placeholder="Search your homies by name" ng-model = "homie.name">

  <input class="form-control" placeholder="Search by your homies's location" ng-model = "searchTerm"> -->


  <!-- The stuff below is For step 5....get rid of the one above if you wish-->
   
    <input class="form-control" placeholder="Search by Your Homie's Name" ng-model='search.name'></input>
    <input class="form-control" placeholder="Search by Your Homie's Location" ng-model='search.current_location'></input>

    <select class="input-medium" ng-model="sortField">
        <option value="name">Name</option>
        <option value="friend_count"># friends</option>
        <option value="current_location.city">City</option>
        <option value="current_location.state" >State</option>
        <option value="current_location.country " >Country</option>
    </select>
    <select class="input-medium" ng-model="order">
        <option value="true">Descending</option>
        <option value="false">Ascending</option>
    </select>
  </div>
</form>

  <ul>
    <li class='friend'>
       <img class="profile-pic" src='https://scontent-a.xx.fbcdn.net/hprofile-ash3/833_10200838803828124_1233160321_a.jpg'>
      <h3>California</h3>
      <div class="location">
        Location: New Port Beach, California, United States
      </div>      
      <div class="status">
        Status: F@#$ the snow! I wish I was on the beach right now!!! <span class="hashtag">#ihateprovo</span>
      </div>      
      <div class="num-friends">
        Friends: 1,367
      </div>
    </li>
  </ul>
</div>

  <li ng-repeat="homie in homies | filter: search | orderBy: sortField: order">
    <p>{{homie.name}}</p>
    <img ng-src= {{homie.pic_square}}></img>
  <li>

</body>
</html>


















